use Mix.Config

config :nadia,
  token: "12345:secret_key"

config :currexbot, Currexbot.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "postgres",
  password: "postgres",
  database: "currexbot_dev",
  hostname: "localhost",
  pool_size: 10
